@import "_CommonStyles.scss";

body {
    margin: 0;
    padding: 0;
}

#ext-container {
    .related-wits-message {
        margin-top: 10px;
    }

    .page-container {
        height: 100%;

        .related-wits-hub {
            height: 100%;
            display: flex;
            flex-direction: column;

            .related-wits-header {
                flex-shrink: 0;
                padding: 10px 15px;
            }

            .contents {
                flex: 1;
                overflow: hidden;

                .grid-container {
                    overflow: auto;
                    height: 100%;
                    position: relative;

                    .work-item-grid {
                        overflow-x: initial;
                        overflow-y: initial;

                        & > div[role="grid"] > div[role="presentation"]:first-child {
                            position: sticky;
                            top: 0px;
                            z-index: 1;
                        }

                        .info-label {
                            align-items: center;

                            .info-icon {
                                padding-top: 0;
                                vertical-align: top;
                            }

                            &.linked-cell .info-label-text {
                                color: green;
                            }

                            &.unlinked-cell .info-label-text {
                                color: red;
                            }
                        }
                    }
                }
            }
        }
    }
}

.communication-foreground {
    color: $communication-foreground;
}

.error-text {
    color: $error-text;
}

@include scrollbars(11px, 2px);
