.settings-panel {
    .settings-controls {
        .settings-control-container {
            margin-bottom: 20px;
        }
    }

    .save-button {
        width: 80px;
        align-self: flex-end;
    }
}
