@import "_CommonStyles.scss";

.board-card {
    margin: 10px;
    padding: 10px;
    background: $white;
    border-radius: 4px;
    transition: box-shadow 0.2s;

    &:hover {
        box-shadow: 0 6.4px 14.4px 0 $calloutShadowColor, 0 1.2px 3.6px 0 $calloutShadowSecondaryColor;
    }
}
