@import "_CommonStyles.scss";

.color-picker {
    .selected-color-container {
        width: 125px;
        @include box-hover-focus-styles();

        .selected-color {
            width: 100px;
            border-right: 0;
        }

        .open-callout-button {
            width: 25px;
            padding: 0;
            height: 25px;
            min-width: 25px;

            i {
                font-size: $fontSize;
            }
        }
    }
}

.colors-callout {
    ul.colors-list {
        width: 248px;
        display: inline-block;
        padding: 2px;
        list-style: none;
        margin: 0;
        outline: none;

        li.color-list-item {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 1px;
            border: 1px solid transparent;

            &:hover {
                transform: scale(1.2);
            }

            &.selected {
                border: 1px solid $communication-background;

                .inner {
                    height: 18px;
                    width: 18px;
                    border: 1px solid $white;
                }
            }
        }
    }
}
