@import "_CommonStyles.scss";

.date-time-picker-callout {
    border: 1px solid $neutral-20;

    .date-time-picker {
        background-color: $backgroundColor;
        color: $primary-text;

        .date-time-picker-calendar {
            margin-right: 20px;

            .ms-DatePicker-day--outfocus > div {
                color: $disabled-text;
            }

            .ms-DatePicker-day--highlighted > div {
                background-color: $communication-background;
                color: $text-on-communication-background;
            }

            button,
            .ms-DatePicker-day {
                color: $primary-text;

                &:hover {
                    background-color: $neutral-20;
                }
            }

            th,
            div {
                color: $primary-text;
            }
        }
    }
}
