.settings-editor-panel {
    .settings-editor-panel-content {
        .settings-editor-panel-content-section {
            margin-bottom: 20px;

            .section-header {
                margin-bottom: 10px;
            }

            .save-button {
                margin-top: 10px;
            }
        }
    }
}
