.checklist-view {
    .checklist-items-container {
        .checklist-item-container {
            margin-bottom: 5px;
        }
    }

    .checklist-item-editor {
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 10px;
    }
}
