.checklist-view {
    margin-top: 10px;
    display: flex;
    flex-direction: column;

    .checklist-items-container {
        flex: 1;
        max-height: 300px;
        overflow: auto;

        .checklist-item-container {
            margin-bottom: 5px;
        }
    }

    .checklist-item-editor {
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 10px;
    }
}
