@import "_CommonStyles.scss";

.checklist-group {
    .checklist-message.new-workitem-message {
        margin: 5px;
    }

    .checklist-tabbar {
        padding: 0;
    }

    .checklist-view-container {
        margin: 5px;
        margin-bottom: 0;
    }
}
