.checklist-view {
    margin-top: 10px;

    .checklist-items-container {
        max-height: 300px;
    }

    .checklist-item-editor {
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 10px;
    }
}
