@import "_CommonStyles.scss";

.checklist-container {
    .checklist-message {
        margin: 5px;
    }

    .checklist-tabbar {
        padding: 0;
    }

    .checklist-view-container {
        margin-top: 5px;
    }

    .checklist-commandbar {
        .checklist-command-item {
            color: $communication-foreground;
        }
    }
}
