@import "_CommonStyles.scss";

.bugbash-charts {
    display: flex;
    padding: 10px;

    .chart-view-container {
        flex: 1;
        background-color: $neutral-4;
        padding: 10px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;

        .header-container {
            display: flex;
            margin-bottom: 10px;

            .header {
                flex: 1;
                font-weight: bold;
            }
        }

        .chart-view {
            flex: 1;
            overflow: hidden;
        }
    }

    .chart-tooltip {
        background-color: $tooltip-background-color;
        border-radius: 2px;
        color: $white;
        font-size: $fontSize;
        padding: 8px 12px;
        text-align: left;
        word-break: break-all;
        word-break: break-word;

        .team-name {
            margin-bottom: 10px;
            font-weight: bold;
            color: $white;
        }

        .tooltip-key {
            color: $white;
        }
    }
}
