@import "_CommonStyles.scss";

.checklist-item-container {
    min-height: 32px;
    padding: 0 1px;

    &.drag-disabled {
        padding-left: 20px;
    }

    &.completed {
        .checklist-item-text {
            text-decoration: line-through;
            color: $secondary-text;
        }
    }

    &:hover,
    &.is-dragging {
        .checklist-item {
            border: 1px solid $neutral-20;
        }
    }

    .checklist-item {
        border: 1px solid transparent;
        padding: 0 2px;
        cursor: pointer;

        .required-item {
            color: $error-text;
            margin-top: -5px;
            font-weight: 600;
            font-size: 18px;
            @include UserSelectNone();
        }

        .checklist-item-state {
            margin-left: 2px;
            font-weight: $fontWeightSemiBold;
            border-radius: 3px;
            padding: 2px 4px;
            line-height: $fontSizeS;
            font-size: $fontSizeS;
            @include UserSelectNone();
        }

        .checklist-item-text {
            margin: 0 5px;
            @include UserSelectNone();
        }
    }

    .drag-handle {
        margin-right: 5px;
        cursor: move;
    }

    &:not(:hover) {
        .checklist-commandbar {
            display: none;
        }

        .drag-handle {
            visibility: hidden;
        }
    }
}
