@import "_CommonStyles.scss";

.checklist-item-editor {
    .checklist-item-input {
        margin-bottom: 5px;
    }

    .checklist-command-item {
        font-size: $fontSizeML;
    }

    .checklist-item-state-control {
        margin-right: 5px;
    }
}

.checklist-item-state {
    &-new,
    &-new:hover,
    &-new:active,
    &-new.active {
        background-color: #ffb900;
        color: #222222;
    }

    &-inprogress,
    &-inprogress:hover,
    &-inprogress:active,
    &-inprogress.active {
        background-color: #007acc;
        color: #ffffff;
    }

    &-blocked,
    &-blocked:hover,
    &-blocked:active,
    &-blocked.active {
        background-color: #b80e1c;
        color: #ffffff;
    }

    &-na,
    &-na:hover,
    &-na:active,
    &-na.active {
        background-color: #eaeaea;
        color: #3c3c3c;
    }

    &-completed,
    &-completed:hover,
    &-completed:active,
    &-completed.active {
        background-color: #92c353;
        color: #292827;
    }
}
