@import "_CommonStyles.scss";

.item-editor-dialog {
    padding: 10px;
}

.checklist-item-container {
    min-height: 32px;
    padding: 0 1px;

    &.drag-disabled {
        padding-left: 20px;
    }

    &.completed {
        .checklist-item-text {
            text-decoration: line-through;
            color: $secondary-text;
        }
    }

    &:hover,
    &.is-dragging {
        .checklist-item {
            border: 1px solid $neutral-20;
        }
    }

    .checklist-item {
        border: 1px solid transparent;
        padding: 0 2px;

        .required-item {
            color: $error-text;
            margin-top: -5px;
            font-weight: 600;
            font-size: 18px;
            @include UserSelectNone();
        }

        .checklist-item-state {
            margin-left: 2px;
        }

        .checklist-item-text {
            cursor: pointer;
            margin: 0 5px;
            @include UserSelectNone();
        }
    }

    .drag-handle {
        width: 19px;
        padding-left: 8px;

        .gripper {
            background-image: url("data:image/svg+xml;utf8,<svg width='6' height='20' viewBox='0 0 6 20' fill='black' opacity='0.3' xmlns='http://www.w3.org/2000/svg'><circle cx='1' cy='7' r='1'/><circle cx='1' cy='13' r='1'/><circle cx='1' cy='19' r='1'/><circle cx='5' cy='7' r='1'/><circle cx='1' cy='1' r='1'/><circle cx='5' cy='1' r='1'/><circle cx='5' cy='13' r='1'/><circle cx='5' cy='19' r='1'/></svg>");
            height: 20px;
            width: 6px;
        }
    }

    &:not(:hover) {
        .checklist-item-context-menu {
            display: none;
        }

        .drag-handle {
            visibility: hidden;
        }
    }
}
