@import "_CommonStyles.scss";

.item-editor-dialog {
    padding: 10px;
}

.checklist-item-container {
    padding: 0 1px;

    &.drag-disabled {
        padding-left: 20px;
    }

    &.completed {
        .checklist-item-text {
            text-decoration: line-through;
            color: $secondary-text;
        }
    }

    &:hover,
    &.is-dragging {
        .checklist-item {
            border: 1px solid $neutral-20;
        }
    }

    .checklist-item {
        border: 1px solid transparent;
        padding: 0 2px;

        .checklist-item-details {
            min-height: 32px;

            .required-item {
                color: $error-text;
                margin-top: -5px;
                font-weight: 600;
                font-size: 18px;
                @include UserSelectNone();
            }

            .checklist-item-state {
                margin-left: 2px;
            }

            .checklist-item-text {
                margin: 0 5px;
            }
        }

        .checklist-item-labels {
            margin-bottom: 5px;
            margin-left: 22px;
        }
    }

    .drag-handle {
        width: 19px;
    }

    &:not(:hover) {
        .checklist-item-context-menu {
            display: none;
        }

        .drag-handle {
            visibility: hidden;
        }
    }
}
