@import "_CommonStyles.scss";

.badge {
    vertical-align: middle;
    cursor: pointer;

    .badge-count {
        flex-wrap: wrap;
        flex-flow: row wrap;
        align-content: center;
        position: absolute;
        top: -11px;
        right: -11px;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: $communication-tint-20;
        z-index: 1;
    }
}

.badge-callout-container {
    padding: 10px;
}
