@import "_CommonStyles.scss";
@import "../Root.scss";

.checklist-settings {
    .checklist-tabbar {
        height: 100%;
        max-width: 250px;
        padding: 10px 0;
        margin-right: 15px;

        .tab-icon {
            margin-right: 5px;
        }

        .bolt-tablist-tabs .bolt-tab {
            padding-right: 10px;
        }
    }

    .checklist-settings-header {
        padding-bottom: 5px;
        border-bottom: 1px solid $neutral-20;
    }

    .checklist-contents {
        margin: 0 20px;
        padding: 10px 0;
        width: 600px;

        .checklist-item-editor {
            max-width: 400px;
            margin-top: 15px;
            margin-left: 20px;
            margin-right: 10px;
        }
    }
}
