@import "_CommonStyles.scss";

.work-item-title-view {
    max-width: 100%;

    img {
        width: 14px;
        min-width: 14px;
        height: 14px;
    }

    .work-item-id {
        margin-left: 5px;
        color: $neutral-60;
    }

    .title-link {
        margin-left: 5px;
    }
}
